{% extends "base.html" %}
{% block title %} 진학숲 - 상세조건 사례검색 {% endblock %}
{% block content %}

<p class="font-weight-bold text-info">
    &#8251 계열, 지역, 학교/학과명/전형/세부유형, 등급구간(국영수 + 사/과)으로 합불데이터를 검색합니다.<br>
    &#8251 정렬기준 : 인문, 예체능(국영수사100), 자연(국영수과100), 공통(국영수사과100)<br>
</p>

<form method="get" id="advanced_form"
      data-univ-name-url="{% url 'ajax_load_univ_name' %}"
      data-univ-major-url="{% url 'ajax_load_univ_major' %}"
      action="search3">

  <div class="form-row align-items-center">

    {{ form }}

    <div class="col-md-2 my-2">
      <label class="sr-only" for="ko_en_math_soc_or_sci_100_min">등급 최솟값</label>
      <input type="number" class="form-control" id="ko_en_math_soc_or_sci_100_min" name="ko_en_math_soc_or_sci_100_min"
             value="{{current_ko_en_math_soc_or_sci_100_min}}" placeholder="등급 최솟값" min="1" max="9" step=".001">
    </div>

    <div class="col-md-2 my-2">
      <label class="sr-only" for="ko_en_math_soc_or_sci_100_max">등급 최댓값</label>
      <input type="number" class="form-control" id="ko_en_math_soc_or_sci_100_max" name="ko_en_math_soc_or_sci_100_max"
             value="{{current_ko_en_math_soc_or_sci_100_max}}" placeholder="등급 최댓값" min="1" max="9" step=".001">
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-warning">검색</button>
    </div>

  </div>
</form>

<script>
$(document).ready(function(){
  $("#id_univ_region").change(function () {
    var url = $("#advanced_form").attr("data-univ-name-url");
    var univ_region = $(this).val();

    $.ajax({
      url: url,
      data: {
        'univ_region': univ_region
      },
      success: function (data) {
        $("#id_univ_name").html(data)
      }
    });
  });

    $("#id_univ_name").change(function () {
    var url = $("#advanced_form").attr("data-univ-major-url");
    var univ_name = $(this).val();

    $.ajax({
      url: url,
      data: {
        'univ_name': univ_name
      },
      success: function (data) {
        $("#id_univ_major").html(data)
      }
    });
  });
});
</script>

<hr/>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">입시년도</th>
        <th scope="col">대학명</th>
        <th scope="col">모집단위</th>
        <th scope="col">전형유형</th>
        <th scope="col">세부유형</th>
        <th scope="col">전교과100</th>
        {% if current_major_group_str == '자연' %}
          <th scope="col">국영수과100</th>
        {% elif current_major_group_str == '공통' %}
          <th scope="col">국영수사과100</th>
        {% else %}
          <th scope="col">국영수사100</th>
        {% endif %}
        <th scope="col">환산등급</th>
        <th scope="col">합불현황</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for student in queryset%}
        <td>{{student.entrance_year}}</td>
        <td>{{student.univ_name}}</td>
        <td>{{student.univ_major}}</td>
        <td>{{student.admission1}}</td>
        <td>{{student.admission2}}</td>
        <td>{{student.all_subject_100}}</td>
        {% if current_major_group_str == '자연' %}
          <td class="table-primary">{{student.ko_en_math_sci_100}}</td>
        {% elif current_major_group_str == '공통' %}
          <td class="table-info">{{student.ko_en_math_soc_sci_100}}</td>
        {% else %}
          <td class="table-warning">{{student.ko_en_math_soc_100}}</td>
        {% endif %}
        <td>{{student.grade}}</td>
        <td {% if student.final_step == final_step.0 %}
              class="text-danger"
            {% elif student.final_step == final_step.1 %}
              class="text-success"
            {% else %}
              class="text-primary"
            {% endif %}>
          {{student.final_step}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}