{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} 진학숲 - 상세조건 사례검색 {% endblock %}

{% block head %}{% endblock %}

{% block content %}

<p class="font-weight-bold text-info">
    &#8251 계열, 지역, 학교/학과명/전형을 차례대로 입력하여 합불데이터를 검색합니다.<br>
    &#8251 정렬기준 : 인문, 예체능(국영수사100), 자연(국영수과100), 공통(국영수사과100)<br>
</p>

<form method="get" id="advanced_form"
      data-univ-name-url="{% url 'ajax_load_univ_name' %}"
      data-univ-major-url="{% url 'ajax_load_univ_major' %}"
      data-admission1-url="{% url 'ajax_load_admission1' %}"
      action="advanced_search">

  <div class="form-row">
    <div class="form-group col-md-1 mb-0">
      {{ form.major_group|as_crispy_field }}
    </div>
    <div class="form-group col-md-1 mb-0">
      {{ form.univ_region|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {{ form.univ_name|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {{ form.univ_major|as_crispy_field }}
    </div>
    <div class="form-group col-md-1 mb-0">
      {{ form.admission1|as_crispy_field }}
    </div>

    <div class="col-auto my-1">
      <button class="btn btn-warning" type="submit">검색</button>
    </div>

  </div>
</form>

<script>
$(document).ready(function(){

  $("#id_major_group").change(function () {
    var url_load_univ_major = $("#advanced_form").attr("data-univ-major-url");
    var major_group = $("#id_major_group").val();
    var univ_name = $("#id_univ_name").val();

    if (univ_name > 0) {
      $.ajax({
        url: url_load_univ_major,
        data: {
          'major_group': major_group,
          'univ_name': univ_name
        },
        success: function (data) {
          $("#id_univ_major").html(data)
        }
      });
    } else {
      $.ajax({
        url: url_load_univ_major,
        data: {
          'major_group': major_group,
          'univ_name': 0
        },
        success: function (data) {
          $("#id_univ_major").html(data)
        }
      });
    }
  });

  $("#id_univ_region").change(function () {
    var url_load_univ_name = $("#advanced_form").attr("data-univ-name-url");
    var url_load_univ_major = $("#advanced_form").attr("data-univ-major-url");
    var url_load_admission1 = $("#advanced_form").attr("data-admission1-url");
    var univ_region = $(this).val();
    var univ_major = $("#id_univ_major").val();
    var major_group = $("#id_major_group").val();

    $.ajax({
      url: url_load_univ_name,
      data: {
        'univ_region': univ_region,
      },
      success: function (data) {
        $("#id_univ_name").html(data)
      }
    });

    if (major_group != "") {
      $.ajax({
        url: url_load_univ_major,
        data: {
          'major_group': major_group,
          'univ_name': 0,
        },
        success: function (data) {
          $("#id_univ_major").html(data)
        }
      });
    } else {
      $.ajax({
        url: url_load_univ_major,
        data: {
          'major_group': 0,
          'univ_name': 0,
        },
        success: function (data) {
          $("#id_univ_major").html(data)
        }
      });
    }

    $.ajax({
      url: url_load_admission1,
      data: {
        'univ_major': 0
      },
      success: function (data) {
        $("#id_admission1").html(data)
      }
    });
  });

  $("#id_univ_name").change(function () {
    var url_load_univ_major = $("#advanced_form").attr("data-univ-major-url");
    var url_load_admission1 = $("#advanced_form").attr("data-admission1-url");
    var major_group = $("#id_major_group").val();
    var univ_name = $(this).val();
    var univ_major = $("#id_univ_major").val();

    $.ajax({
      url: url_load_univ_major,
      data: {
        'major_group': major_group,
        'univ_name': univ_name
      },
      success: function (data) {
        $("#id_univ_major").html(data)
      }
    });

    $.ajax({
      url: url_load_admission1,
      data: {
        'univ_major': 0,
      },
      success: function (data) {
        $("#id_admission1").html(data)
      }
    });
  });

  $("#id_univ_major").change(function () {
    var url = $("#advanced_form").attr("data-admission1-url");
    var univ_major = $(this).val();

    $.ajax({
      url: url,
      data: {
        'univ_major': univ_major
      },
      success: function (data) {
        $("#id_admission1").html(data)
      }
    });
  });

});
</script>

<hr/>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">입시년도</th>
        <th scope="col">대학명</th>
        <th scope="col">모집단위</th>
        <th scope="col">전형유형</th>
        <th scope="col">세부유형</th>
        <th scope="col">전교과100</th>
        {% if current_major_group_str == '자연' %}
          <th scope="col">국영수과100</th>
        {% elif current_major_group_str == '공통' %}
          <th scope="col">국영수사과100</th>
        {% else %}
          <th scope="col">국영수사100</th>
        {% endif %}
        <th scope="col">환산등급</th>
        <th scope="col">합불현황</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for student in queryset%}
        <td>{{student.entrance_year}}</td>
        <td>{{student.univ_name}}</td>
        <td>{{student.univ_major}}</td>
        <td>{{student.admission1}}</td>
        <td>{{student.admission2}}</td>
        <td>{{student.all_subject_100}}</td>
        {% if current_major_group_str == '자연' %}
          <td class="table-primary">{{student.ko_en_math_sci_100}}</td>
        {% elif current_major_group_str == '공통' %}
          <td class="table-info">{{student.ko_en_math_soc_sci_100}}</td>
        {% else %}
          <td class="table-warning">{{student.ko_en_math_soc_100}}</td>
        {% endif %}
        <td>{{student.grade}}</td>
        <td {% if student.final_step == final_step.0 %}
              class="text-danger"
            {% elif student.final_step == final_step.1 %}
              class="text-success"
            {% else %}
              class="text-primary"
            {% endif %}>
          {{student.final_step}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}