{% extends "base.html" %}
{% block title %} 진학숲 {% endblock %}

{% block content %}
<p> 계열과 등급(전교과100) 구간으로 합불데이터를 검색합니다.(전교과100 기준정렬) </p>
<form method="get" action="search1">

  <div class="form-row align-items-center">

    <div class="col-sm-2 my-1">
      <select class="custom-select mr-sm-2" id="gubun2" name="gubun2">
        {% for item in gubun2_item %}
          <option value="{{item}}" {% if item == current_gubun2 %} selected {% endif %}>{{item}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-sm-2 my-1">
      <select class="custom-select mr-sm-2" id="resion2" name="resion2">
        {% for item in resion2_item %}
          <option value="{{item}}" {% if item == current_resion2 %} selected {% endif %}>{{item}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-sm-2 my-2">
      <label class="sr-only" for="all_subject_100_min">등급 최솟값</label>
      <input type="number" class="form-control" id="all_subject_100_min" name="all_subject_100_min"
             placeholder="등급 최솟값" min="1" max="9" step=".001">
    </div>

    <div class="col-sm-2 my-2">
      <label class="sr-only" for="all_subject_100_max">등급 최댓값</label>
      <input type="number" class="form-control" id="all_subject_100_max" name="all_subject_100_max"
             placeholder="등급 최댓값" min="1" max="9" step=".001">
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">검색</button>
    </div>

  </div>
</form>

<hr/>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">입시년도</th>
        <th scope="col">대학명</th>
        <th scope="col">모집단위</th>
        <th scope="col">전형유형</th>
        <th scope="col">세부유형</th>
        <th scope="col" class="table-danger">전교과100</th>
        <th scope="col">환산등급</th>
        <th scope="col">합불현황</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for ibsi in queryset%}
        <td>{{ibsi.ibsi_year}}</td>
        <td>{{ibsi.univ_name}}</td>
        <td>{{ibsi.univ_major}}</td>
        <td>{{ibsi.admission1}}</td>
        <td>{{ibsi.admission2}}</td>
        <td class="table-danger">{{ibsi.all_subject_100}}</td>
        <td>{{ibsi.grade}}</td>
        <td {% if ibsi.final_step == final_step.0 %}
              class="text-danger"
            {% elif ibsi.final_step == final_step.1 %}
              class="text-success"
            {% else %}
              class="text-primary"
            {% endif %}>
          {{ibsi.final_step}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}