{% extends "base.html" %}
{% block title %} 진학숲 {% endblock %}

{% block content %}
<p> 계열과 등급 구간을 설정하여 합불데이터를 검색합니다.(전교과100 기준 정렬) </p>
<form method="get" action="search1">

  <div class="form-row align-items-center">

    <div class="col-sm-2 my-1">
      <select class="custom-select mr-sm-2" id="gubun2" name="gubun2">
        <option value="인문">인문</option>
        <option value="자연">자연</option>
        <option value="예체능">예체능</option>
        <option value="공통">공통</option>
      </select>
    </div>

    <div class="col-sm-2 my-2">
      <label class="sr-only" for="gradeMin">등급 최솟값</label>
      <input type="number" class="form-control" id="gradeMin" name="gradeMin" placeholder="등급 최솟값" min="1" max="9" step=".001">
    </div>

    <div class="col-sm-2 my-2">
      <label class="sr-only" for="gradeMax">등급 최댓값</label>
      <input type="number" class="form-control" id="gradeMax" name="gradeMax" placeholder="등급 최댓값" min="1" max="9" step=".001">
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">검색</button>
    </div>

  </div>
</form>

<hr/>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">입시년도</th>
      <th scope="col">대학소재</th>
      <th scope="col">대학명</th>
      <th scope="col">모집단위</th>
      <th scope="col">전형유형</th>
      <th scope="col">전교과100</th>
      <th scope="col">환산등급</th>
      <th scope="col">합불현황</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for ibsi in queryset%}
      <td>{{ibsi.ibsi_year}}</td>
      <td>{{ibsi.resion2}}</td>
      <td>{{ibsi.univ_name}}</td>
      <td>{{ibsi.univ_major}}</td>
      <td>{{ibsi.admission1}}</td>
      <td>{{ibsi.all_subject_100}}</td>
      <td>{{ibsi.grade}}</td>
      <td class="table-danger">{{ibsi.final_step}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}

{% block footer %}
{% endblock footer %}