{% extends "base.html" %}
{% block title %} 등급별 지원통계(자연) {% endblock %}

{% block content %}

<h4> 등급별 지원통계(자연) </h4>
<canvas id="app_grade_ja_chart" width="550" height="100"></canvas>

<script>
var ctx = document.getElementById('app_grade_ja_chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ student_grade_ja_list | safe }},
        datasets: [{
            label: '등급별 지원 학생 수',
            data: {{ student_grade_ja_freq_list }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    }
});
</script>

<br>

{% with url_name=request.resolver_match.url_name %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="{% if url_name == 'app_region' %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_region' %}">충청도</a>
  </li>
  <li class="nav-item">
    <a class="{% if url_name == 'app_tap_region_dj' %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_tap_region_dj' %}">대전</a>
  </li>
  <li class="nav-item">
    <a class="{% if url_name == 'app_tap_region_sj' %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_tap_region_sj' %}">세종</a>
  </li>
  <li class="nav-item">
    <a class="{% if url_name == 'app_tap_region_cn' %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_tap_region_cn' %}">충남</a>
  </li>
  <li class="nav-item">
    <a class="{% if url_name == 'app_tap_region_cb' %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_tap_region_cb' %}">충북</a>
  </li>
</ul>
{% endwith %}
<br>
{% block tap_content %}{% endblock %}

{% endblock content %}