{% extends "base.html" %}
{% block title %} 등급별 지원통계 {% endblock %}

{% block content %}

<h4> 등급별 지원통계 </h4>

<br>

<form method="get" action="{% url request.resolver_match.url_name %}">
  <div class="form-row align-items-center">

    <div class="col-md-0.5 my-1">
      <select class="custom-select mr-sm-2" id="entrance_year" name="entrance_year">
        {% for item in entrance_year_item %}
          <option value="{{item.entrance_year}}" {% if item.entrance_year == current_entrance_year %} selected {% endif %}>{{item.entrance_year}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-0.5 my-1">
      <select class="custom-select mr-sm-2" id="major_group" name="major_group">
        {% for item in major_group_item %}
          <option value="{{item.pk}}" {% if item.pk == current_major_group %} selected {% endif %}>{{item.major_group}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-0.5 my-1">
      <select class="custom-select mr-sm-2" id="admission1" name="admission1">
        {% for item in admission1_item %}
          <option value="{{item.admission1}}" {% if item.admission1 == current_admission1 %} selected {% endif %}>{{item.admission1}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-warning">검색</button>
    </div>

  </div>
</form>
<hr/>
<br>
<canvas id="app_grade_in_chart" width="500" height="100"></canvas>
<script>
var ctx = document.getElementById('app_grade_in_chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ student_grade_in_list | safe }},
        datasets: [{
            label: '등급별 지원 사례 수',
            data: {{ student_grade_in_freq_list }},
            backgroundColor: [
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
            ],
            borderColor: [
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
                'rgba(36, 166, 189, 1)',
            ],
            borderWidth: 1
        }]
    }
});
</script>

<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="{% if current_gte == 1 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=1&lt=2">1등급대</a>
  </li>
  <li class="nav-item">
    <a class="{% if current_gte == 2 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=2&lt=3">2등급대</a>
  </li>
  <li class="nav-item">
    <a class="{% if current_gte == 3 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=3&lt=4">3등급대</a>
  </li>
  <li class="nav-item">
    <a class="{% if current_gte == 4 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=4&lt=5">4등급대</a>
  </li>
  <li class="nav-item">
    <a class="{% if current_gte == 5 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=5&lt=6">5등급대</a>
  </li>
  <li class="nav-item">
    <a class="{% if current_gte == 6 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=6&lt=7">6등급대</a>
  </li>
  <li class="nav-item">
    <a class="{% if current_gte == 7 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=7&lt=8">7등급대</a>
  </li>
  <li class="nav-item">
    <a class="{% if current_gte == 8 %}nav-link active{%else%}nav-link{% endif %}" href="{% url 'app_grade_search' %}?entrance_year={{ current_entrance_year }}&major_group={{ current_major_group }}&admission1={{ current_admission1 }}&gte=8&lt=9">8등급대</a>
  </li>
</ul>
<br>
{% block grade_in_tab_content %}
<canvas id="app_grade_in_chart_1" width="170" height="100"></canvas>
<script>
var ctx = document.getElementById('app_grade_in_chart_1').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{ app_univ_name_list | safe }},
        datasets: [{
            label: '합격 사례 수',
            data: {{ app_univ_pass_freq_list }},

            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
            ],
            borderWidth: 1
        },
        {
            label: '불합격 사례 수',
            data: {{ app_univ_fail_freq_list }},
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                stacked: true
            }],
            xAxes: [{
                stacked: true
            }]
        }
    }
});
</script>
{% endblock %}

{% endblock content %}