{% extends "base.html" %}
{% block title %} 지역별 통계 {% endblock %}

{% block content %}

<h4> 지역별 통계 </h4>
<p class="font-weight-bold text-info">
    &#8251 기준 : 인문, 예체능(국영수사100), 자연(국영수과100), 공통(국영수사과100)<br>
</p>

<form method="get" action="{% url 'static_student_region_result' %}">
  <div class="form-row align-items-center">

    <div class="col-md-1 my-1">
      <select class="custom-select mr-sm-2" id="entrance_year" name="entrance_year">
        {% for item in entrance_year_item %}
          <option value="{{item.entrance_year}}">{{item.entrance_year}}</option>
        {% endfor %}
      </select>
    </div>

    <input type="hidden" id="student_region" name="student_region" value="충청도">
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-warning">검색</button>
    </div>

  </div>
</form>
<hr/>

{% endblock content %}