{% extends "base.html" %}
{% block title %} 등급별 지원통계 {% endblock %}

{% block content %}

<h4> 대학 소재별 전형유형 통계 </h4>
<p class="font-weight-bold text-info">
    &#8251 기준 : 인문, 예체능(국영수사100), 자연(국영수과100), 공통(국영수사과100)<br>
</p>

<form method="get" action="{% url 'static_univ_region_result' %}">
  <div class="form-row align-items-center">

    <div class="col-md-1 my-1">
      <select class="custom-select mr-sm-2" id="entrance_year" name="entrance_year">
        {% for item in entrance_year_item %}
          <option value="{{item.entrance_year}}" {% if item.entrance_year == current_entrance_year %} selected {% endif %}>{{item.entrance_year}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-1 my-1">
      <select class="custom-select mr-sm-2" id="major_group" name="major_group">
        {% for item in major_group_item %}
          <option value="{{item.pk}}" {% if item.pk == current_major_group %} selected {% endif %}>{{item.major_group}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-1 my-1">
      <select class="custom-select mr-sm-2" id="univ_region" name="univ_region">
        {% for item in univ_region_item %}
          <option value="{{item.pk}}" {% if item.pk == current_univ_region %} selected {% endif %}>{{item.univ_region}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-warning">검색</button>
    </div>

  </div>
</form>
<hr/>

{% endblock content %}