{% extends "base.html" %}

{% block title %} 진학숲 {% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-primary"> 진학숲(JINHAKSUP) </h1>
      <br>
      <ul>
        <li> 2019학년도 입시 충청도 지역 80,000여건 수시사례 data 분석 </li>
        <li> 학교 현장에서 고3 학생들의 진학지도에 도움을 줄 수 있는 정보제공 </li>
        <li> 지역/등급/학교/학과 기준의 다양한 통계 분석 </li>
        <li> 지역/등급/학교/학과 기준의 다양한 사례 분석 </li>
      </ul>
    </div>
  </div>


{% endblock content %}

{% block footer %}
{% endblock footer %}